/*-- GENERAL BODY/HTML --*/

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
    color: #333;
}

h2 {
    text-transform: uppercase;
}

/*-- GENERAL BODY/HTML --*/


/*-- BASE.HTML STYLING NAVBAR/HERO/FOOTER/ --*/

.navbar {
    background-color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dc3545;
    text-transform: none;
}

.navbar-brand span {
    color: #333;
    text-decoration: underline;
}

.nav-link {
    color: #333;
}

.nav-item {
    font-size: 1.15rem;
}

.home-image {
    background-image: url(https://res.cloudinary.com/dydgom4l5/image/upload/v1681240507/Red-AstonMartin_wyhugk.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;
    color: #fff;
}

.home-image:before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-image .display-5,
.home-image .lead {
    font-size: 4rem;
    font-weight: 300;
    text-shadow: 1px 1px #000000;
}

.home-image h1 .home-image p {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-text,
.hero-text h1,
.hero-text p {
    position: relative;
    z-index: 1;
    text-align: center;
}

.carousel-inner {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.9);
}

.carousel-item img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto !important;
}

/*-- BASE.HTML STYLING HERO/FOOTER/ --*/


/*-- CAR GALLERY --*/

.hero-image-gallery {
    background-image: url(https://res.cloudinary.com/dydgom4l5/image/upload/v1681240506/Ferrari-Mclaren_lgrsvy.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    position: relative;
}

.hero-image-gallery::before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*-- CAR GALLERY --*/

/*-- CARDS --*/

.card-img-top {
    max-width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.card-img-view {
    object-fit: cover;
}

.card-img-index {
    height: 300px;
    object-fit: cover;
}

.card-home {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/*-- CARDS --*/

.alert {
    font-size: 1rem;
}

/* --- BUTTON STYLING --- */

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background-color: #ad3636 !important;
    border-color: #ad3636 !important;
}

.btn-social {
    color: #fff;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #55acee;
}

.btn-github {
    background-color: #000000;
}

.btn-google {
    background-color: #dd4b39;
}

.btn-instagram {
    background-color: #ac2bac;
}

/* --- BUTTON STYLING --- */

/* --- LOGIN FORM --- */

.login-form {
    margin-top: 10rem;
}

.login-page-image::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    opacity: 0.6;
}

.login-page-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: -100px;
}

/* --- LOGIN FORM --- */

.register-form,
.login-form,
.add-post-form {
    margin-top: auto;
}

/* --- MODAL STYLING -- */

.modal-content {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.modal-header {
    border-bottom: none;
    padding: 0;
}

.modal-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0;
}

.modal-footer {
    border-top: none;
}

.modal-footer button {
    background-color: #eee;
    border: none;
    color: #555;
    padding: 8px 16px;
}

.modal-footer button:hover {
    background-color: #ddd;
}

.modal-footer .btn-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 8px 16px;
}

.modal-footer .btn-danger:hover {
    background-color: #c82333;
}


.view-post-hr {
    border-top: 2px solid #dd3345;
    width: 100%"
}

/*------------------------------------*/

/*-- DISABLE THE REQUIRED ASTERISK ON FORMS --*/

label .asteriskField {
    display: none;
}

/*-- MEDIA QUERIES --*/

@media screen and (min-width: 768px) and (max-width: 1399px) {
    .card-img-top {
        height: 100%;
    }
}
