/*-- GENERAL BODY/HTML --*/

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
    color: #333;
}

h2 {
    text-transform: uppercase;
}

/*-- GENERAL BODY/HTML --*/


/*-- BASE.HTML STYLING NAVBAR/HERO/FOOTER/ --*/

.navbar {
    background-color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dc3545;
    text-transform: none;
    text-decoration: none;
}

.navbar-brand span {
    color: #333;
    text-decoration: underline;
}

.nav-link {
    color: #333;
}

.home-image {
    background-image: url(../images/cartest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative;
    color:#fff;
}

.home-image:before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-image .display-5 {
    font-size: 4rem;
    font-weight: 300;
    text-shadow: 1px 1px #000000;
    margin-top: 120px;
}

.home-image .lead {
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px #000000;
}

.home-image h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.home-image p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-text {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-text h1,
.hero-text p {
    position: relative;
    z-index: 1;
}

.carousel-inner {
    box-shadow: 0px 6px 10px rgba(0,0,0,0.9);
}

.carousel-item img {
    height: 400px;
    width: 600px;
    object-fit: cover;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto !important;
}

/*-- BASE.HTML STYLING HERO/FOOTER/ --*/


/*-- CAR GALLERY --*/

.hero-image-gallery {
    background-image: url(../images/ferrari-mclaren.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
}

.gallery-text {
    text-align: center;
    position: absolute;
}

/*-- CAR GALLERY --*/

/*-- CARDS --*/

.card-image {
    height: 250px;
    object-fit: cover;
}

.card-home {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

/*-- CARDS --*/

.alert {
    font-size: 1rem;
}

/* --- BUTTON STYLING --- */

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 50px;
}

.btn-light {
    border-radius: 50px;
}

.btn-dark {
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #c82333;
}

.btn-secondary {
    border-radius: 50px;
}

.btn-social {
    color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.5rem;
    transition: color 0.3 ease;
}

.btn-outline-success {
    color: #fff;
    font-size: 1.1rem;
    border-color: #dc4545;
    border-radius: 50px;
    background-color: #dc3545;
}

.btn-outline-success.login {
    color: #fff;
    font-size: 1.1rem;
    border-color: #333;
    border-radius: 50px;
    background-color: #333;
}

.btn.outline-success.login:hover {
    color: #fff;
    background-color: #dc4545;
    border-color: #dc4545;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #c82333;
}

.btn-facebook {
    background-color: #3b5998;
    border-radius: 25px;
}

.btn-twitter {
    background-color: #55acee;
    border-radius: 25px;
}

.btn-github {
    background-color: #000000;
    border-radius: 25px;
}

.btn-google {
    background-color: #dd4b39;
    border-radius: 25px;
}

.btn-instagram {
    background-color: #ac2bac;
    border-radius: 25px;
}

/* --- BUTTON STYLING --- */

/* --- LOGIN FORM --- */

.login-form {
    margin-top: 10rem;
}

.login-page-image::before {
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background-size: cover;
    opacity: 0.6;
}

.login-page-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: -100px;
}

/* --- LOGIN FORM --- */

.register-form {
    margin-top: 10rem;
}

.add-post-form {
    margin-top: auto;
}