{% extends 'base.html' %}
{% load static % }
{% block content %}

<!-- Car Gallery Section -->

<section class="hero-image-gallery d-flex justify-content-center align-items-center">
   
</section>

<section class="py-3">
    <div class="container align-items-center justify-content-center">
        <section class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Car Test</h5>
                        <p class="card-text">Section for All Posted Car Builds</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </section>
</section>

{% endblock %}