{% extends 'base.html' %}
{% load static % }
{% block content %}

<!-- Car Gallery Section -->

<section class="hero-image-gallery d-flex justify-content-center align-items-center">
   
</section>

<section class="py-3">
    <div class="container align-items-center justify-content-center">
        <section class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Car Model 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget libero
                            id felis
                            aliquet interdum nec a dolor. Integer vel tincidunt lectus. Suspendisse tempor leo vel nulla
                            tincidunt,
                            sit amet interdum mi bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et
                            ultrices posuere
                            cubilia curae.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </section>
</section>

{% endblock %}