{% extends 'base.html' %}
{% load static % }
{% block content %}

      <!-- Hero Section -->

      <div class="jumbotron jumbotron-overlay container-fluid">
        <div class="hero-text">
          <h1 class="display-5">Welcome to CarStyleAutos!</h1>
          <p class="lead">A Community built around the love for all types of cars, Classic, JDM you name it! </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Join Us</a>
          </p>
        </div>
      </div>

      <!-- Hero Section -->

      <div class="container">
        <hr class="my-4">
      </div>
    
      <!-- About Us Section -->
      <section class="py-3 text-center">
        <div class="container px-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 mb-4 mb-lg-0 gx-5">
              <div id="about-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
                  <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../static/images/ferrari-mclaren.jpg"  alt="car image">
                  </div>
                  <div class="carousel-item">
                    <img src="../static/images/lamborghiniCustom.jpg"  alt="car image">
                  </div>
                  <div class="carousel-item">
                    <img src="../static/images/bugattichrion.jpg" alt="car image">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#about-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#about-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-3">
                <h2 class="display-6">About Us</h2>
                <p>CarStyleAutos is a vibrant community of car enthusiasts who are passionate about all types of cars. From classic cars to the latest sports cars, our community members share a deep love for the artistry, engineering, and culture of the automobiles. We believe that cars are more than just machines - they are expressions of personality, creativity and freedom.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- About Us Section -->

      <div class="container">
        <hr class="my-4">
      </div>

      <!-- Card Section for Builds -->

      <div class="row container-fluid">
        <div class="col-sm-4 px-2">
          <div class="card text">
            <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card Image Cap">
            <div class="card-body">
              <h5 class="card-title">Build One</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
       
        <div class="col-sm-4 px-2">
          <div class="card">
            <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card Image Cap">
            <div class="card-body">
              <h5 class="card-title">Build Two</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 px-2">
          <div class="card">
            <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card Image Cap">
            <div class="card-body">
              <h5 class="card-title">Build Three</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
      </div> 

      <!-- Card Section for Builds -->

      <div class="container">
        <hr class="my-4">
      </div>

{% endblock %}