{% extends 'base.html' %}
{% load static % }
{% block content %}
      <!-- Hero Section -->

      <div class="jumbotron jumbotron-overlay container-fluid" style="background-image:url(../static/images/cartest.jpg)">
        <h1 class="display-5 text-center">Welcome to CarStyleAutos!</h1>
        <p class="lead text-center">A Community built around the love for all types of cars, Classic, JDM you name it! </p>
        <hr class="my-3">
        <p class="lead text-center">
          <a class="btn btn-primary btn-lg" href="#" role="button">Join Us</a>
        </p>
      </div>

      <!-- Hero Section -->
    
      <!-- About Us Section -->
      <section class="bg-light py-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="../static/images/rs5img.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <h2 class="display-4">About Us</h2>
                <p>CarStyleAutos is a vibrant community of car enthusiasts who are passionate about all types of cars. From classic cars to the latest sports cars, our community members share a deep love for the artistry, engineering, and culture of the automobiles. We believe that cars are more than just machines - they are expressions of personality, creativity and freedom.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Us Section -->


      <!-- Card Section for Builds -->

      <div class="row container-fluid">
        <div class="col-sm-4">
          <div class="card text">
            <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card Image Cap">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
       
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card Image Cap">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top" src="../static/images/cartest.jpg" alt="Card Image Cap">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div> 

      <!-- Card Section for Builds -->


{% endblock %}