{% extends 'base.html' %}
{% load static % }
{% block content %}

<!-- Hero Section -->
<section class="home-image jumbotron-overlay jumbotron-fluid py-md-5">
  <div class="container">
    <div class="hero-text text-center text-wrap">
      <h1 class="display-5 fs-1">Welcome to CarStyleAutos!</h1>
      <p class="lead fs-4">A Community built around the love for all types of automobiles</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Join Us</a>
      </p>
    </div>
  </div>
</section>

<!-- Hero Section -->

<!-- Page Divider -->
<div class="container">
  <hr class="my-4">
</div>
<!-- Page Divider -->

<!-- About Us Section -->
<section class="py-3 text-center">
  <div class="container px-4">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 mb-4 mb-lg-0 gx-5">
        <div id="about-carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="0" class="active"
              aria-current="true"></button>
            <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#about-carousel" data-bs-slide-to="2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://res.cloudinary.com/dydgom4l5/image/upload/v1680618534/static/images/gtrimage.835a70eed0f8.webp" alt="NissanGTR">
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/dydgom4l5/image/upload/v1680618529/static/images/lamborghiniCustom.b1af2b8c54bb.jpg" alt="LamborghiniCustom">
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/dydgom4l5/image/upload/v1680618532/static/images/ferrariImg.1e48bced8aef.jpg" alt="RedFerrari">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#about-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#about-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-3">
          <h2 class="display-6">About Us</h2>
          <p>CarStyleAutos is a vibrant community of car enthusiasts who are passionate about all types of cars. From
            classic cars to the latest sports cars, our community members share a deep love for the artistry,
            engineering, and culture of the automobiles. We believe that cars are more than just machines - they are
            expressions of personality, creativity and freedom.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Us Section -->

<!-- Page Divider -->
<div class="container">
  <hr class="my-4">
</div>
<!-- Page Divider -->

<!-- Card Section for Builds -->
<section class="py-1">
  <div class="container align-items-center justify-content-center">
    <section class="row">
      <div class="col-md-4 py-3">
        <div class="card card-home h-100">
          <img class="card-img-index card-image" src="https://res.cloudinary.com/dydgom4l5/image/upload/v1680618533/static/images/like-image.ab7294e2b595.jpg" alt="Like Heart">
          <div class="card-body">
            <h3 class="card-title fw-bold">Like</h4>
              <p class="card-text text">Get inspired and discover new builds by checking out our collection of amazing
                creations from car enthusiasts from around the world. Whether you're looking for ideas for your next
                build or just love admiring the creativity of others, our collection of builds is sure to captivate and
                inspire you.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-3">
        <div class="card card-home h-100">
          <img class="card-img-index card-image" src="https://res.cloudinary.com/dydgom4l5/image/upload/v1680618528/static/images/interact-image.ca10b5258a4d.png" alt="Community">
          <div class="card-body">
            <h3 class="card-title fw-bold">Interact</h3>
            <p class="card-text">Join our community of car lovers and connect with like-minded people who share your
              passion for creating. Share your own builds, ask for advice, and get inspired by others as you collaborate
              and build together. With a supportive and friendly community, there's no better place to explore your
              creativity and take your building skills to the next level.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-3">
        <div class="card card-home h-100">
          <img class="card-img-index card-image" src="https://res.cloudinary.com/dydgom4l5/image/upload/v1680618535/static/images/evo9.cf372e29622f.jpg" alt="Custom-Mitsubishi-Evo">
          <div class="card-body">
            <h3 class="card-title fw-bold">Share your Creations</h3>
            <p class="card-text">Show off your latest builds and get feedback from the community. Share your knowledge
              and help others improve their skills.</p>
          </div>
        </div>
      </div>
    </section>
</section>
<!-- Card Section for Builds -->

<!-- Page Divider -->
<div class="container">
  <hr class="my-4">
</div>
<!-- Page Divider -->

{% endblock %}