{% extends 'base.html' %}
{% load static % }

{% block content % }

<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 mb-4">
                <img class="card-img-top" src="{{ car.car_image.url }}" alt="{{ car.model}}">
                <div class="card-body p-4">
                    <h2 class="card-title fw-bold mb-3">{{ car.make }} {{ car.model }} ({{ car.year }}) </h2>
                    <p class="card-text"> {{ car.rundown }}</p>
                    <div class="d-flex "
                </div>
            </div>
        </div>
    </div>
</section>